@import "../../styles/style_utils";

.pets-list {
  @include pageGrid;
  grid-template-columns: 1fr;
  justify-items: center;

  @include onTablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include onDesktop {
    grid-template-columns: repeat(3, 1fr);
  }
}