@import "../../styles/style_utils";

.nav-list {
  &__items {
    display: flex;
    align-items: center;

    @include onLaptop {
      gap: 40px;
    }
  }

  &__item {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;

    &--is-active {
      color: #0A43B5;
    }
  }
}